/* MAIN */
/* HEADER */
/* ROBOT IMAGE */
/* CAT IMAGE */
/* BOTH IMAGES */
/* RESULTS SECTION */
/* BUTTONS */


/* ============================================== */
/* MAIN */
/* ============================================== */
body {
  background-color: #272822;
  box-sizing: border-box;
  color: aliceblue;
  font-family: Tahoma, Geneva, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  margin: 0 auto;
  margin-top: 15%;
  min-width: 320px;
  width: 100%;
}




/* ============================================== */
/* HEADER */
/* ============================================== */
.header {
  text-align: center;
  width: 67%;
  margin: 0 auto;
}

.header h1 {
  color: #fff;
  letter-spacing: 3px;
}

.header h4 {
  color: #d4d4d4;
  letter-spacing: 1px;
  margin-top: -10px;
}

.header h6 {
  color: #b4b4b4;
  margin-bottom: 10px;
  margin-top: -1px;
}

.title-caps {
  font-size: 2rem;
}




/* ============================================== */
/* ROBOT IMAGE */
/* ============================================== */
.robot-image {
  animation: animateRobot 0.2s ease-in;
  -webkit-animation: animateRobot 0.2s ease-in;
  filter: drop-shadow(2px 8px 10px rgba(255,255,255,0.4));
  -webkit-filter: drop-shadow(2px 8px 10px rgba(255,255,255,0.4));
  height: 225px;
  margin-top: 15px;
  width: 180px;
  z-index: -1;
}

@keyframes animateRobot {
  0% {
    opacity: 0.9;
    transform: translate(-5px, 0);
    -webkit-transform: translate(-5px, 0);
    -moz-transform: translate(-5px, 0);
    -ms-transform: translate(-5px, 0);
    -o-transform: translate(-5px, 0);
  }
  10% {
    opacity: 0.1;
    transform: translate(3px, 0);
    -webkit-transform: translate(3px, 0);
    -moz-transform: translate(3px, 0);
    -ms-transform: translate(3px, 0);
    -o-transform: translate(3px, 0);
}
  100% {
    opacity: 1;
  }
}

.images-preloader {
  display: none;
}




/* ============================================== */
/* CAT IMAGE */
/* ============================================== */
.cat-image {
  height: 300px;
  width: 300px;
  object-fit: cover;
  z-index: 9999;
}

.display-fact {
  font-size: 0.8rem;
  /* left: 0; */
  position: absolute;
  top: 200px;
  width: 100%;
}

.col .precursor-image-text {
  align-items: center;
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  padding: 0 15px;
}

.col .precursor-fact-text {
  font-size: 0.9rem;
  margin-top: -70px;
  min-height: 20px;
  text-align: center;
  width: 100%;
}

.display-consolation {
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
}




/* ============================================== */
/* BOTH IMAGES */
/* ============================================== */
.row {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  text-align: center;
}

.move-right {
  animation: moveRight 0.15s linear;
  -webkit-animation: moveRight 0.15s linear;
  animation-fill-mode: forwards;
}

@keyframes moveRight {
  0% {
    opacity: 0.9;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  5% {
    -webkit-filter: blur(5px);
  }
  10% {
    opacity: 0.1;
  }
  95% {
   -webkit-filter: blur(0px);
  }
  100% {
    opacity: 1;
    transform: translateX(60%);
    -webkit-transform: translateX(60%);
    -moz-transform: translateX(60%);
    -ms-transform: translateX(60%);
    -o-transform: translateX(60%);
  }
}

.col {
  display: flex;
  flex-direction: column;
  height: 300px;
  position: relative;
  width: 300px;
}

.move-left-image {
  animation: moveLeftImage 2s ease-in-out;
  -webkit-animation: moveLeftImage 2s ease-in-out;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes moveLeftImage {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  100% {
    transform: translateX(-35%);
    -webkit-transform: translateX(-35%);
    -moz-transform: translateX(-35%);
    -ms-transform: translateX(-35%);
    -o-transform: translateX(-35%);
}
}

.move-left-fact {
  animation: moveLeftFact 1s ease-in-out;
  -webkit-animation: moveLeftFact 1s ease-in-out;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes moveLeftFact {
  0% {
    opacity: 0;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
  100% {
    opacity: 1;
    transform: translateX(-35%);
    -webkit-transform: translateX(-35%);
    -moz-transform: translateX(-35%);
    -ms-transform: translateX(-35%);
    -o-transform: translateX(-35%);
  }
}



/* ============================================== */
/* RESULTS SECTION */
/* ============================================== */
.results-section {
  width: 100%;
}

.guess-results {
  display: flex;
  justify-content: center;
}

.game-results {
  display: flex;
  justify-content: space-around;
}

.left-choice {
  color: #638b73;
  font-weight: bold;
}

.right-choice {
  color: #6080a5;
  font-weight: bold;
}




/* ============================================== */
/* BUTTONS */
/* ============================================== */
.decision-buttons {
  margin-top: 15px;
  padding-bottom: 20px;
  text-align: center;
  min-height: 60px;
}

.decision-buttons .left-btn:focus,
.decision-buttons .right-btn:focus,
.decision-buttons .retry-btn:focus {
  outline: 2px solid #fff;
  outline-color: #fff;
}

.left-btn {
  background-color: #638b73;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-style: none;
  color: #d4d4d4;
  font-size: 1.5rem;
  margin-right: 30px;
  padding: 10px 45px;
  transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  transition-duration: 1s;
}

.left-btn:hover {
  background-color: #415c4c;
  cursor: pointer;
  transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  transition: background-color transform 0.5s;
  -webkit-transition: background-color transform 0.5s;
  -moz-transition: background-color transform 0.5s;
  -ms-transition: background-color transform 0.5s;
  -o-transition: background-color transform 0.5s;
}

.right-btn {
  background-color: #6080a5;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-style: none;
  color: #d4d4d4;
  font-size: 1.5rem;
  padding: 10px 45px;
  transform: rotate(355deg);
  -webkit-transform: rotate(355deg);
  -moz-transform: rotate(355deg);
  -ms-transform: rotate(355deg);
  -o-transform: rotate(355deg);
  transition-duration: 1s;
}

.right-btn:hover {
  background-color: #34465a;
  cursor: pointer;
  transform: rotate(355deg);
  -webkit-transform: rotate(355deg);
  -moz-transform: rotate(355deg);
  -ms-transform: rotate(355deg);
  -o-transform: rotate(355deg);
  transition: background-color transform 0.5s;
  -webkit-transition: background-color transform 0.5s;
  -moz-transition: background-color transform 0.5s;
  -ms-transition: background-color transform 0.5s;
  -o-transition: background-color transform 0.5s;
}

.retry-btn {
  background-color: #414141;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-style: none;
  color: #fff;
  font-size: 1.6rem;
  padding: 10px 55px;
  transition-duration: 1s;
}

.retry-btn:hover {
  background-color: #242424;
  cursor: pointer;
  transition: background-color 1.25s;
  -webkit-transition: background-color 1.25s;
  -moz-transition: background-color 1.25s;
  -ms-transition: background-color 1.25s;
  -o-transition: background-color 1.25s;
}

